<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Photo Time Sleuth</title>
</head>

<body>
    <div id="content">
        <h1>Photo Time Sleuth</h1>
        <div class="button-container">
            <button onclick="prevPhoto()">Previous</button>
            <button onclick="nextPhoto()">Next</button>
        </div>
        <p>Photo Name: <span id="photo-name"></span></p>
        <div class="button-container">
            <button onclick="rotateLeft()">Rotate Left</button>
            <button onclick="rotateRight()">Rotate Right</button>
        </div>
        <div id="photo-container">
            <img id="photo" src="" alt="No photo available">
        </div>
        <br>
        <label for="date-picker">Select Date:</label>
        <input type="datetime-local" id="date-picker">
        <button onclick="updateMetadata()">Update Date</button>
        <p id="update-indicator">Date updated successfully!</p>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>