body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    aspect-ratio: 1/1;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    transform: rotate(0deg);
    max-height: 100%;
    width: auto;
}
button {
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
}

button:hover {
    background-color: #ddd;
}   

.side-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.side-button:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.rotate-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    width: 50px;

}

.rotate-button:hover {
    background-color: #ddd;
    border-radius: 5px;

}


button,
input {
    font-size: 16px;
}

select {
    font-size: 20px;
}   

.button-container {
    margin-bottom: 20px;
}

#update-indicator {
    font-weight: bold;
    color: green;
    display: none;
}

#content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#names-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

#names-container > div {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}