body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    max-width: 80%;
    height: auto;
    display: block;
    transform: rotate(0deg);
    max-height: 100%;
}

button,
input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.button-container {
    margin-bottom: 20px;
}

#update-indicator {
    font-weight: bold;
    color: green;
    display: none;
}

#content {
    margin: 0 auto;
    width: min(800px, 100%);
    max-width: 800px;
    padding: 20px;
}